USE [master]
GO
/****** Object:  Database [SunSolarDB]    Script Date: 7/10/2026 10:02:50 AM ******/
CREATE DATABASE [SunSolarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SunSolarDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\SunSolarDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SunSolarDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\SunSolarDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SunSolarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SunSolarDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[CreatedAt] [datetime] NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolarPackages]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolarPackages](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CapacityKW] [decimal](5, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsNewArrival] [bit] NULL,
	[DiscountPercentage] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PackageID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[SubmittedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CustomerReviews]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =================================================================
-- 3. DATABASE VIEWS නිර්මාණය කිරීම
-- =================================================================

-- පාරිභෝගිකයාගේ නම සහ පැකේජ් එකේ නම සමඟින් Reviews ලේසියෙන් Frontend එකට Fetch කරගන්න සාදන View එකක්.
-- API එකෙන් සංකීර්ණ JOIN Queries ලියන එක මෙයින් ඉතිරි වෙනවා.
CREATE VIEW [dbo].[vw_CustomerReviews] AS
SELECT 
    r.ReviewID,
    u.FullName AS CustomerName,
    p.PackageName AS ReviewedPackage,
    r.Rating,
    r.Comment,
    r.SubmittedAt
FROM Reviews r
INNER JOIN Users u ON r.UserID = u.UserID
LEFT JOIN SolarPackages p ON r.PackageID = p.PackageID;
GO
/****** Object:  Table [dbo].[InstalmentPlans]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstalmentPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PackageID] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DurationMonths] [int] NOT NULL,
	[MonthlyPayment] [decimal](18, 2) NOT NULL,
	[CalculatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UserInstalmentPlans]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =================================================================
-- 5. අලුත් VIEW එකක් (පාරිභෝගිකයාගේ වාරික සැලසුම් ලේසියෙන් බලාගන්න)
-- =================================================================
CREATE VIEW [dbo].[vw_UserInstalmentPlans] AS
SELECT 
    ip.PlanID,
    u.UserID,
    u.FullName AS CustomerName,
    p.PackageName,
    ip.TotalAmount,
    ip.DurationMonths,
    ip.MonthlyPayment,
    ip.CalculatedAt
FROM InstalmentPlans ip
INNER JOIN Users u ON ip.UserID = u.UserID
INNER JOIN SolarPackages p ON ip.PackageID = p.PackageID;
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[ContactNumber] [varchar](15) NOT NULL,
	[GoogleMapLink] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromoID] [int] IDENTITY(1,1) NOT NULL,
	[PromoName] [nvarchar](100) NOT NULL,
	[DiscountPercentage] [decimal](5, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PromoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkshopEnrollments]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkshopEnrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[WorkshopID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[EnrolledAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshops]    Script Date: 7/10/2026 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshops](
	[WorkshopID] [int] IDENTITY(1,1) NOT NULL,
	[Topic] [nvarchar](150) NOT NULL,
	[Area] [nvarchar](100) NOT NULL,
	[WorkshopDate] [date] NOT NULL,
	[WorkshopTime] [time](7) NOT NULL,
	[MaxParticipants] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkshopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InstalmentPlans] ADD  DEFAULT (getdate()) FOR [CalculatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[SolarPackages] ADD  DEFAULT ((0)) FOR [IsNewArrival]
GO
ALTER TABLE [dbo].[SolarPackages] ADD  DEFAULT ((0)) FOR [DiscountPercentage]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[WorkshopEnrollments] ADD  DEFAULT (getdate()) FOR [EnrolledAt]
GO
ALTER TABLE [dbo].[Workshops] ADD  DEFAULT ((50)) FOR [MaxParticipants]
GO
ALTER TABLE [dbo].[InstalmentPlans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_Packages] FOREIGN KEY([PackageID])
REFERENCES [dbo].[SolarPackages] ([PackageID])
GO
ALTER TABLE [dbo].[InstalmentPlans] CHECK CONSTRAINT [FK_Plans_Packages]
GO
ALTER TABLE [dbo].[InstalmentPlans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstalmentPlans] CHECK CONSTRAINT [FK_Plans_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Packages] FOREIGN KEY([PackageID])
REFERENCES [dbo].[SolarPackages] ([PackageID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Packages]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[WorkshopEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkshopEnrollments] CHECK CONSTRAINT [FK_Enroll_Users]
GO
ALTER TABLE [dbo].[WorkshopEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Workshops] FOREIGN KEY([WorkshopID])
REFERENCES [dbo].[Workshops] ([WorkshopID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkshopEnrollments] CHECK CONSTRAINT [FK_Enroll_Workshops]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
